In [1]:
import numpy as np
import pickle
import pandas as pd

In [2]:
df = pd.read_excel("flowers.xlsx")

In [3]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
from sklearn.preprocessing import OrdinalEncoder
enc = OrdinalEncoder()
df['species'] = enc.fit_transform(df[['species']])

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2      0.0
1             4.9          3.0           1.4          0.2      0.0
2             4.7          3.2           1.3          0.2      0.0
3             4.6          3.1           1.5          0.2      0.0
4             5.0          3.6           1.4          0.2      0.0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3      2.0
146           6.3          2.5           5.0          1.9      2.0
147           6.5          3.0           5.2          2.0      2.0
148           6.2          3.4           5.4          2.3      2.0
149           5.9          3.0           5.1          1.8      2.0

[150 rows x 5 columns]

In [6]:
df['species'].unique()

array([0., 1., 2.])

In [7]:
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [8]:
from sklearn.model_selection import train_test_split
xtrain , xtest , ytrain ,ytest = train_test_split(X,y , test_size = 0.20 , random_state = 510)

In [9]:
from sklearn.ensemble import RandomForestClassifier
rfc =  RandomForestClassifier()
rfc.fit(xtrain , ytrain)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [10]:
from sklearn.metrics import accuracy_score
accuracy_score(rfc.predict(xtest) , ytest )

0.9666666666666667

In [11]:
file = open ('rfcModel.pkl' , 'wb')

In [12]:
pickle.dump(rfc , file)

In [16]:
rfc.predict([[1 , 2 , 2 , 1]])

array([0.])